<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.han.member.MemberMapper">
	
	<select id="read" parameterType="string" resultType="org.han.member.MemberVO">
		select * from tbl_member 
		where userid = #{userid}		
	</select>
	
	<select id="iftest" parameterType="org.han.member.MemberVO" resultType = "org.han.member.MemberVO">
		select * from tbl_member
		where userid = 'user55'
		<if test = "userpw != null">
			And userpw like #{userpw}
		</if>
	</select>
	
	<delete id="delete" parameterType="string">
		delete tbl_member where userid = #{userid}
	</delete>
	
	<update id="update" parameterType="string">
		update tbl_member 
		set userpw = #{userpw}
		where userid = #{userid}
	</update>

</mapper>